body {
  background-color: lightgray;
  border-style: double;
  border-color: gray;
  border-width: 5px;
  margin: 0px;
  text-align: center;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

header {
  font-size: 50px;
  background-color: red;
  text-align: center;
}
nav {
  text-align:left;
  background-color: red;
}
button {
 background-color: black; /* Green */
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a {
  color: black;
}
h2 {
  font-size: 50px;
}
a {
  text-decoration: none;
  color: white;
}
 body {
  font-family: "Press Start 2P";
  font-size: 22px;
  }